@font-face {
font-family: Museo Sans Cyrl;
src: url("../fonts/Museo-Sans-Cyrl/MuseoSansCyrl.otf") format("opentype");
}

@font-face {
font-family: Museo Sans Cyrl Medium;
src: url("../fonts/Museo-Sans-Cyrl/MuseoSansCyrl_Medium.otf") format("opentype");
}

@font-face {
font-family: Museo Sans Cyrl Bold;
src: url("../fonts/Museo-Sans-Cyrl/MuseoSansCyrl_Bold.otf") format("opentype");
}