@import 'fonts.css';


body{
	font-family: 'Museo Sans Cyrl';	
	font-size: 16px;
	color: #fff;
	background-color: #fff;
}
h1, h2, h3, h4, h5, h6, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
h1{
	font-family: 'Yeseva One', cursive;
	font-size: 60px;
	line-height: 180%;
	color: #6A5538;
}
h2{
	font-family: 'Yeseva One', cursive;
	font-size: 52px;
	color: #6A5538;
}
h3{
	font-family: 'Yeseva One', cursive;
	font-size: 48px;
	color: #6A5538;
}
h4{
	font-family: 'Yeseva One', cursive;
	font-size: 32px;
	color: #6A5538;*/
}
ul,li{
	display: block;
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
button:active, button:focus {
  outline: none;
  border: 0;
}
button::-moz-focus-inner {
  border: 0;
}

.btn-light{
	display: inline-block;
	background-color: #fff;
	color: #CB9374;
	font-size: 16px;
	text-transform: uppercase;

}
.btn-light:hover{
	background-color: #FFEADE;
	text-decoration: none;
}
.btn-light:active{
	background-color: #EDEDED;
}
.btn-border-light{
	border: 2px solid #fff;
}
.btn-border-dark{
	border: 2px solid #CB9374;
}
.btn-dark{
	display: inline-block;
	background-color: #CB9374;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
}
.btn-dark:hover{
	background-color: #BB754E;
	text-decoration: none;
}
.btn-dark:active{
	background-color: #555;
}
.btn-transparent{
	display: inline-block;
	background-color: transparent;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
}
.btn-transparent:hover{
	text-decoration: none;
	color: #BB754E;
}
.btn-transparent:active{
	color: #E5B296;
}
.btn-bpadding{
	padding: 12px 40px;
}
.btn-spadding{
	padding: 12px 10px;
}
.btn-about{
	padding: 12px 68px;
}




.header{
	background: url(../img/header_bg.png) no-repeat;
	background-position: center;
	background-size: cover;
	height: 833px;
}



.topnav {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
}
.logo img{
	width: 150px;
	margin-left: 25px;
}

.menu-header{
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-left: 50px;
	margin-right: 50px;
	position: relative;
}

.menu-item a{
	font-family: 'Museo Sans Cyrl';
	font-size: 16px;
	color: #fff;
}

.menu-item a:after{
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	background-color: #fff;
	border-radius: 50%;
	margin: 0 auto;
	opacity: 0;
	transition: all 0.5s ease-out;
}

.menu-item a:hover:after{
	opacity: 1;
	transition: all 1s ease-out;
	}


.menu-item a:hover{
	//font-family: 'Museo Sans Cyrl Bold';
	text-decoration: none;
	text-shadow:1px 1px 1px #fff;
}


.menu-burger{
	display: none;
	width: 31px;
	height: 31px;
	position: absolute;
	right: 30px;
	top: 23px;
	cursor: pointer;
}
.menu-burger span{
	height: 3px;
	width: 100%;
	background-color: #fff;
	position: absolute;
	top: 14px;
	opacity: 1;
	transform: rotate(0deg);
	transition: 0.5s
}
.menu-burger:before{
	content: '';
	height: 3px;
	width: 100%;
	background-color: #fff;
	position: absolute;
	top: 5px;
	transform: rotate(0deg);
	transition: 0.5s
}
.menu-burger:after{
	content: '';
	height: 3px;
	width: 100%;
	background-color: #fff;
	position: absolute;
	bottom: 5px;
	transform: rotate(0deg);
	transition: 0.5s
}
.menu-burger.open-menu span{
	opacity: 0;
	transition: 0.5s;
}

.menu-burger.open-menu:before{
	transform: rotate(45deg);
	transition: 0.7s;
	top: 14px;
}
.menu-burger.open-menu:after{
	transform: rotate(-45deg);
	transition: 0.7s;
	bottom: 14px;
}
@media screen and (max-width: 768px) {
	.topnav .menu-header a{
		display: none;
	}
	.topnav .menu-burger{
    	display: block;
  	}

  	.topnav.responsive{
    	display: block;
    	height: 100vh;
    	transition: height 0.7s ease;
  	}	
  	.topnav.responsive .menu-header{
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    height: 100%;
	    justify-content: center;
	    top: -80px;
	    margin-left: 0;
	    margin-right: 0;
  	}
  	.topnav.responsive .menu-header>li{
  		margin-bottom: 40px;
  	}

  	.topnav.responsive a {
	    display: block;
	    padding-bottom: 10px;
  	}
}
.header__text{
	padding-top: 128px;
}

.header-vline{

	width: 1px;
	height: 365px;
	background-color: #fff;
	margin-right: 82px;



}
.header__title{
	color: #fff;
	//letter-spacing: -0.005em;
}
.header__btn-wrap{
	padding-top: 60px;
}
.header__btn-wrap a:first-child{
	margin-right: 40px;
}


.first-post__title{
	//letter-spacing: -0.08em;
	padding-top: 160px;
}
.first-post__description{
	font-family: 'Museo Sans Cyrl';	
	font-size: 22px;
	color: #6A5538;
	width: 580px;
	padding-top: 60px;

	line-height: 140%;
}
.first-post__img-md{
	padding-top: 100px;
}


.second-post{
	padding-top: 100px;
}
.second-post__img{
	background-image: url("../img/photo2.png");
	background-repeat: no-repeat;
	background-position: 40% 0%;
	width: 450px;
	height: 593px;
}
.second-post__title{
	width: 420px;
	padding-top: 75px;
}
.second-post__description{
	font-family: 'Museo Sans Cyrl';	
	font-size: 22px;
	color: #6A5538;
	width: 650px;
	padding-top: 50px;
}

.third-post{
	padding-top: 200px;
}
.third-post__img-md{
	background-image: url("../img/photo3.png");
	background-repeat: no-repeat;
	//background-position: 40% 0%;
	width: 636px;
	height: 449px;
}
.third-post__text-container{
	background: linear-gradient(180deg, #F0BC78 0%, #D3984B 100%);
	margin-top: 45px;
	padding-top: 30px;
	padding-bottom: 25px;
	padding-left: 30px;
}
.third-post__title{
	font-family: 'Yeseva One', cursive;
	font-size: 32px;
	color: #fff;
	//padding-top: 30px;
	//padding-left: 60px;
	margin-bottom: 30px;	
}
.third-post__description{
	font-size: 22px;
	margin-bottom: 30px;
}
.third-post__ps{
	font-size: 22px;
	display: inline-block;
}
.third-post__signature{
	overflow: hidden;
}
.instagram{
	margin-top: 100px;
}
.instagram__title{
	margin-bottom: 50px;
}

.thumb{
  padding: 12px 12px 12px 12px;
}
.insta-btn{
	text-align: center;
	margin: 60px 0 87px 0;
}

.footer{
	background-color: #CB9374;
}

.footer__wrap{
	padding-top: 40px;
	padding-bottom: 40px;
}


.footer__menu{
	height: 150px;
	align-content: space-between;
}
.footer__menu .item{
	margin-bottom: 13px;
	//margin-right: 80px; 
}
.footer__btn{
	margin-bottom: 30px;
}

.footer__btn a{
	padding-left: 25px;
	padding-right: 25px;
}
.footer__social{

}
.footer__social-icons{
	width: 70%;
	margin: 0 auto;
}
.footer__social li.item{
	width: 40px;
	height: 40px;
	border: 2px solid #fff;
	border-radius: 50%;
	//padding: 5px;
	text-align: center;

}
.footer__social li.item a{
	color: #fff;
	font-size: 24px;
}

.footer__contact-title{
	font-weight: 600;
	//font-size: 14px;
}
.footer__contact-text{
	//font-size: 14px;
}
.contact-numbers{
	margin-bottom: 15px;
}